.background {
  background: url(../img/wp2552455.webp) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.hero-section .title {
  font-family: "Sigmar";
  font-size: 10rem;
  background-image: url(../img/EZ1Mp.gif);
  background-size: cover;
  background-position: left;
  color: transparent;
  background-clip: text;
}
.hero-section .time .Hi {
  background-image: linear-gradient(
    to left,
    #030d1d,
    #00234b,
    #00387f,
    #004cb4,
    #125eeb
  );
  padding: 3px;
}
.hero-section .time .date-time {
  color: #00234b;
}
.input {
  opacity: 0;
}
.input .task {
  width: 80%;
  height: 50px;
  border: 2px solid #833ab4;
  font-size: 1.5rem;
  padding: 0 5px;
}
.input .task::placeholder {
  font-size: 1.5rem;
  padding: 0 5px;
}
.input button {
  font-family: "Sigmar";
  width: 15%;
  height: 50px;
  background-image: linear-gradient(
    to right top,
    #5f12d8,
    #8e00d4,
    #b200d0,
    #d100cb,
    #eb12c6
  );
  border: 2px solid #fff;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
}
footer {
  height: 130px;
}
footer .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 130px;
  background-color: rgb(10, 10, 10);
  padding: 40px;
}

footer .footer .show {
  font-family: "Sigmar";

  width: 50%;
  height: 20px;
  font-size: 3rem;
  color: #fd1d1d;
  background-color: transparent;
  border: none;
}
