* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  font-size: 10px;
}
body {
  direction: ltr;
  font-family: "marmelad-regular";
  font-size: 1.5rem;
  background-color: rgb(10, 10, 10);
  color: #fff;
  overflow-x: hidden;
}

@font-face {
  font-family: "marmelad-regular";
  src: url(../Font/Marmelad-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sigmar", sans-serif;
  src: url(../Font/Sigmar-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 1300px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
.flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center {
  text-align: center;
}
.pb1 {
  padding-bottom: 30px;
}
.mb1 {
  margin-bottom: 30px;
}
.radius {
  border-radius: 10px;
}
.flex-Center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.style-list {
  border-radius: 63% 25% 20% 44% / 51% 25% 25% 46%;
  width: 25%;
  font-size: 1.6rem;
  padding: 5px;
  background-image: linear-gradient(
    to right top,
    #200d9d,
    #81008e,
    #b50077,
    #d7005c,
    #eb1242
  );
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  min-height: 300px;
  max-height: 300px;
  margin: 10% 5% 10% 20%;
}
.style-list:hover {
  width: 50%;
}
.style-list:hover .ellipsis {
  overflow: visible;
  display: block;
  -webkit-line-clamp: unset;
  max-height: fit-content;
}
.style-list:nth-child(odd) {
  background-image: linear-gradient(
    to right top,
    #9d0d4c,
    #9a005f,
    #8d0078,
    #700095,
    #2013b3
  );
}
